---
---
<footer>
  <div class="fi2">
    <div class="f-logo">Vorin<span>Web</span></div>
    <div class="f-copy">© <span id="copyYear">2025</span> VorinWeb. Feito com cuidado para negócios reais.</div>
    <ul class="f-links">
      <li><a href="#como">Como funciona</a></li>
      <li><a href="#planos">Planos</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>
  </div>
</footer>
